.comp-icon {
  font-size: 40px !important;
  color: var(--black-color) !important;
  cursor: pointer !important;
}
.comp-rounded-icon {
  font-size: 25px;
  min-width: 45px;
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: black;
  background-color: white;
  border: 1px solid var(--border-color);
  cursor: pointer !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.comp-rounded-icon:hover {
  background-color: black !important; 
  transition: 0.3s ease-in-out;
  scale: .98 !important;
  color: white !important;
}


.hide-icon {
  font-size: 14px !important;
}
.hide-icon > * {
  font-size: 5px !important;
}