/* Logo */
.logo {
  display: block;
  transition: 0.1s ease-in-out;
  height: 80px;
  scale: 2.2;
}
@media (max-width: 500px) {
  .logo {
    margin-left: 20px;
  }
}
.logo:hover {
  opacity: 0.9;
}
